{%extends 'base.html'%}
{%block content%}
<div class="uk-container">
<div class="uk-section uk-section-secondary uk-light">
    <div class="uk-container">

          <h1 class="uk-text-center">Talk to me</h1>
<hr>
        <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
            <div>
              <p>If you’re reading this page, I’m guessing – and by ‘guessing’ I of course mean ‘hoping’ – that you might like me to do one of the following…</p>
            </div>
            <div>
              <h2>WRITE</h2>
              <p>If you’d like  to write to me, please email me at junemuoti@gmail.com</p>
              <h2>TALK</h2>
              <p>If you’d like to hear me talk, be assured: I like talking. Especially about coding, baking and current affairs.</p>

              <p>You can also get hold of me on Twitter at @MuotiJune and on Facebook @junemuoti. Thanks!</p>
            </div>

        </div>

    </div>
</div>
</div>

{%endblock%}
