{%extends 'base.html'%}
{%block content%}
<body>
  <h1 class="uk-text-center">Talk to me</h1>



<p>If you’re reading this page, I’m guessing – and by ‘guessing’ I of course mean ‘hoping’ – that you might like me to do one of the following…</p>

<h2>WRITE</h2>
<p>If you’d like me to write for you, your company or your website, please email me at junemuoti@gmai.com</p>



<h2>TALK</h2>
<p>If you’d like to hear me talk, be assured: I like talking. Especially about codin, baking and current affairs.</p>

<p>You can also get hold of me on Twitter at @MuotiJune and on Facebook @junemuoti. Thanks!</p>
</body>
{%endblock%}
