{%extends 'base.html' %}
{% block content %}


<h1 class="uk-heading-line uk-text-center"><span>Galleria</span></h1>


<div uk-slider>

    <div class="uk-position-relative">

        <div class="uk-slider-container uk-light">
            <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m">
                <li>
                    <img src="../media/images/alexa-mazzarello-169668.jpg" alt="">
                    <div class="uk-position-center uk-panel"><h1>1</h1></div>
                </li>
                <li>
                    <img src="../media/images/photo-1461722936851-13a79b294a5d.jpeg" alt="">
                    <div class="uk-position-center uk-panel"><h1>2</h1></div>
                </li>
                <li>
                    <img src="../media/images/annie-spratt-133875.jpg" alt="">
                    <div class="uk-position-center uk-panel"><h1>3</h1></div>
                </li>
                <li>
                    <img src="../media/images/pexels-photo-14119.jpeg" alt="">
                    <div class="uk-position-center uk-panel"><h1>4</h1></div>
                </li>
                <li>
                    <img src="../media/images/annie-spratt-167089.jpg" alt="">
                    <div class="uk-position-center uk-panel"><h1>5</h1></div>
                </li>
                <li>
                    <img src="../media/images/alexa-mazzarello-169668.jpg" alt="">
                    <div class="uk-position-center uk-panel"><h1>6</h1></div>
                </li>
                <li>
                    <img src="../media/images/photo-1461722936851-13a79b294a5d.jpeg" alt="">
                    <div class="uk-position-center uk-panel"><h1>7</h1></div>
                </li>
                <li>
                    <img src="../media/images/annie-spratt-133875.jpg" alt="">
                    <div class="uk-position-center uk-panel"><h1>8</h1></div>
                </li>
                <li>
                    <img src="../media/images/pexels-photo-14119.jpeg" alt="">
                    <div class="uk-position-center uk-panel"><h1>9</h1></div>
                </li>
                <li>
                    <img src="../media/images/annie-spratt-167089.jpg" alt="">
                    <div class="uk-position-center uk-panel"><h1>10</h1></div>
                </li>
            </ul>
        </div>

        <div class="uk-hidden@s uk-light">
            <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>

        <div class="uk-visible@s">
            <a class="uk-position-center-left-out uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>

    </div>

    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-border-left"></ul>

</div>
<h2 class="uk-heading-line uk-text-center"><span>Some featured photos</span></h1>
  {% for image in images %}
    <div class="uk-flex uk-float-left  uk-margin-medium-left uk-margin-medium-top  uk-margin-medium-right ">
      <div class="uk-animation-toggle">
        <div class="uk-card uk-card-default uk-card-body uk-animation-scale-up">

      <div class="uk-card-media-top">
        {% if image.gallery_image %}
          <img src="{{image.gallery_image.url}}"  alt="Image"width="300px"height="300px">
          {% endif %}
      </div>
      <div class="uk-card-body">
          <h3 class="uk-card-title">{{image.name}}</h3>
        
          <a class="uk-button uk-button-danger" href="{%url 'image' image.id%}">More details</a>

      </div>
    </div>
  </div>
</div>





  {%endfor%}
{% endblock %}
