{%extends 'base.html' %}
{% block content %}
    {% with item=imager%}
<div class="uk-container uk-margin">
  <div class="uk-child-width-1-1@m" uk-grid>


    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">

                  <img src="{{item.url}}" alt="">

            </div>
            <div class="uk-card-body">

<h1 class="uk-heading-line uk-text-center"><span>{{item.name}}</span></h1>
                  <p><span class="uk-label">Category:</span>{{item.category}}</p>
                  <p><span class="uk-label">Location:</span>{{item.location}}</p>
                  <p><span class="uk-label">Description:</span>{{item.description}}</p>
                  <input class="uk-input" type="text" value={{item.url}} id="myInput">
                  <a class="uk-button uk-button-danger" href=""onclick="myFunction()">Copy link</a>
                  <script>
  function myFunction() {
  var copyText = document.getElementById("myInput");
  copyText.select();
  document.execCommand("Copy");
  alert("Copied the text: " + copyText.value);
}
</script>


            </div>
        </div>
    </div>
  </div>
  </div>
  {%endwith%}
{% endblock %}
