
<nav class="uk-navbar-container" uk-navbar-transparent uk-navbar>
    <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="{%url 'index' %}">Gallery</a></li>
            <li>
                <a href="{%url 'about' %}">About</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-active"><a href="#">personal</a></li>
                        <li><a href="#">Archive</a></li>
                        <li class="uk-nav-header">Categories</li>
                        <li><a href="#">nature</a></li>
                        <li><a href="#">people</a></li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="#">objects</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="{%url 'contact' %}">contacts</a></li>
        </ul>

    </div>
    <div class="uk-navbar-right">

        <ul class="uk-navbar-nav">
            <li>
              <form class="uk-search uk-search-default" role="search" action="{% url 'search_results' %}">
                <span uk-search-icon></span>
                <input class="uk-search-input" type="search" placeholder="Search...">
              </form>

            </li>
        </ul>
    </div>
</nav>
