{%extends 'base.html'%}
{% block content %}
<div class="container">

  <div class="row">
    {% if imagey%}
      <h2>Found {{ imagey|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 images for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if imagey %}
    {% for item in imagey %}

      <div class="col-sm-6 col-md-3">

          <h1>{{item.name}}</h1>

            <img src="{{item.url}}"  alt="Image"width="300px"height="300px">

      </div>
          {% endfor %}
      {% endif %}

  </div>
</div>
{% endblock %}
